[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
matplotlib = "*"
yfinance = "*"
mplfinance = "*"
pandas-ta = "*"
requests-cache = "*"
pandas = "==1.3.5"
papermill = "*"

[dev-packages]

[requires]
python_version = "3.9"
